<header>
    <div class="container">
        <!-- <div class="col-md-12 text-right"> -->
            <strong  id="shop" style="font-size: 30px;">Shopify</strong>
            <button class="cart_icon" routerLink="/cart" ><i class="fa fa-shopping-cart" id="cart" style="font-size:36px"></i></button>
            <!-- <div  class="cart_icon" routerLink="/cart" id="cart"> -->
                
                <div class="cart_value" >{{totalItem}}</div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="search product">
                    <span class="icon fa fa-search" ></span>
                </div>
            </div>
        <!-- </div> -->
    <!-- </div> -->

</header>

