#image{
    width: 335px;
    height: 227px;
    padding: 0px 15px;
    text-align: center;
    
}
h3{
    text-align: center;
}
#g{
    margin-top: 100px;
    
}
.view{
    width: 100px;
    text-align: center;
    margin-left: 100px;
    height: 35px;
}